Parcial1-Parte3/registrofacturasgrupo09.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="registro">  
 <xs:complexType>
   <xs:sequence>
    <xs:element name="responsable" type="tiporesponsable"/>
    <xs:element name="factura" type="tipofacturas"/>
    
   </xs:sequence>
</xs:complexType>
</xs:element>






</xs:schema>
